ConcurrencyPokedex/ConcurrencyPokedex.xcodeproj/project.xcworkspace/xcuserdata/joaorouxinol.xcuserdatad/UserInterfaceState.xcuserstate
ConcurrencyPokedex/ConcurrencyPokedex.xcodeproj/xcuserdata/joaorouxinol.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
