# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and Test
        run: |
          xcodebuild \
            -project ConcurrencyPokedex.xcodeproj \
            -scheme ConcurrencyPokedex \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            clean test

